{% extends "parent.html" %}

{% block body %}

<div class="row action-bar">
    <div class="col-md-6">
        <a href="{{baseUrl}}" class="btn btn-default" aria-label="Today">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span>Today</span>
        </a>
        <a href="{{baseUrl}}/?year={{ month.prevMonthYear }}&month={{ month.prevMonthId+1 }} " class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
            <span>Prev</span>
        </a>
        <a class="btn btn-default" href="{{baseUrl}}/?year={{ month.nextMonthYear }}&month={{ month.nextMonthId+1 }} ">
            <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
            <span>Next</span>
        </a>
    </div>
    
</div>
<div class="row">
    <!--<pre>{{ trainingData | dump }}</pre>-->
    <div class="col-md-12">
        <h1>{{ month.name }} {{ month.year }} </h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>
                {% for week in month.matrix %}
                <tr>
                    {% for day in week %}
                        {% set class = "" %}
                        {% if day.trainingData.period == "prep" %}
                            {% set class = "prep" %}
                        {% elif day.trainingData.period == "base1" %}
                            {% set class = "base base1" %}
                        {% elif day.trainingData.period == "base2" %}
                            {% set class = "base base2" %}
                        {% elif day.trainingData.period == "base3" %}
                            {% set class = "base base3" %}
                        {% elif day.trainingData.period == "build1" %}
                            {% set class = "build build1" %}
                        {% elif day.trainingData.period == "build2" %}
                            {% set class = "build build2" %}
                        {% elif day.trainingData.period == "peak" %}
                            {% set class = "peak" %}
                        {% elif day.trainingData.period == "race" %}
                            {% set class = "race" %}
                        {% endif %}

                        {% set class2 = "" %}
                        {% if day.index == now.format("YYYY-MM-DD") %}
                            {% set class2 = "now" %}
                        {% endif %}
                        <td class="{{class}} {{class2}}">
                            <p>{{day.id}}</p>
                            {% if day.trainingData %}
                                <!--<p>{{day.trainingData.period}} </p>-->
                                <!--<p>{{day.trainingData.workout}} </p>
                                <p>{{day.trainingData.weights}} </p>-->
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
