{% extends "parent.html" %}

{% block body %}

<div class="row action-bar">
    <div class="col-md-4 action-today">
        <a href="{{baseUrl}}/{{now.format('YYYY')}}/{{now.format('MM')}}" class="btn btn-default" aria-label="Today">
            <span>Today</span>
        </a>
    </div>
    <div class="col-md-4 action-year">
        <a href="#">{{ month.name }} {{ month.year }}</a>
    </div>
    <div class="col-md-4 action-page">
        

        <div class="btn-group" role="group" aria-label="pagination">
            <a href="{{baseUrl}}/{{ month.prevMonthYear }}/{{ month.prevMonthNumber }} " class="btn btn-default" aria-label="Left Align">
                <svg fill="#000000" width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </a>
            <a class="btn btn-default" href="{{baseUrl}}/{{ month.nextMonthYear }}/{{ month.nextMonthNumber }} ">
               <svg fill="#000000" width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <!--<pre>{{ trainingData | dump }}</pre>-->
    <div class="col-md-12">
       
        <table class="table calendar">
            <thead>
                <tr>
                    {% for weekDay in month.weekDays %}
                        <th>{{weekDay}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for week in month.matrix %}
                <tr>
                    {% for date in week %}
                        {% set class = date.type %}
                        <td class="{{class}}">
                            <div class="date">
                                <div class="day">
                                    {{date.day}}
                                </div>
                                {% if date.type == 'day now' %}
                                <div class="event">
                                    Weight
                                </div>
                                <div class="event event-alt">
                                    Run
                                </div>
                                <div class="event">
                                    Swim
                                </div>
                                {% endif %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
