{% extends "parent.html" %}

{% block body %}
<div class="row action-bar">
    <div class="col-md-6">
        <a href="{{baseUrl}}" class="btn btn-default" aria-label="Today">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span>Today</span>
        </a>
        <a href="{{baseUrl}}/?year={{ month.prevMonthYear }}&month={{ month.prevMonthId+1 }} " class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
            <span>Prev</span>
        </a>
        <a class="btn btn-default" href="{{baseUrl}}/?year={{ month.nextMonthYear }}&month={{ month.nextMonthId+1 }} ">
            <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
            <span>Next</span>
        </a>
    </div>
    
</div>
<div class="row">
    <!--<pre>{{ trainingData | dump }}</pre>-->
    <div class="col-md-12">
        <h1>{{ month.name }} {{ month.year }} </h1>
        <table class="table">
            <thead>
                <tr>
                    {% for weekDay in weekDays %}
                        <th>{{weekDay}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for week in month.matrix %}
                <tr>
                    {% for date in week %}
                        {% set class = date.type %}
                        <td class="{{class}}">
                            <p>{{date.day}}</p>
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
