body > .container {
    padding-top: 80px;
}

.action-bar {
    padding: 10px 0;
}

td {
    border: 1px solid #ccc;
    width: 14%;
}
td p {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

td.prefix,
td.suffix {
    color: #bbb;
}
td.now {
    background: #ffb6b6;
}
td > div {
    min-height: 50px;
}